.register-form {
  max-width: 400px;
  margin: 100px auto;
  background: #121212;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px #FFD70080;
  color: #fff;
  box-shadow: 0 0 15px #DAA52088;
}

.register-form h2 {
  color: #DAA520;
  margin-bottom: 20px;
}

.register-form input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid #DAA520;
  background: #1a1a1a;
  color: #fff;
  border-radius: 5px;
}

.register-form button {
  border: none;
  padding: 12px;
  width: 100%;
  border-radius: 5px;
  cursor: pointer;
  background-color: #DAA520;
  color: black;
  font-weight: bold;
}

.register-form button:hover {
  background-color: #CFA100;
}
